body {
    background-color: #3bb2b8;
    background: linear-gradient(
      25deg,
      rgba(66, 230, 149, 1),
      rgba(66, 32, 149, 1)
    );
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
  }